/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Estilos del encabezado */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo img {
    max-width: 150px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline;
    margin-right: 20px;
}

.menu a {
    color: #fff;
    text-decoration: none;
}

/* Estilos de las secciones */
.section {
    padding: 50px;
}

.section h2 {
    font-size: 24px;
    margin-bottom: 20px;
}
#quien-es {
    background-image: url("IMG/bg-1.jpg");
    background-size: cover; 
    background-position: center; 
    text-align: center;
}

#discografia {
    background-image: url("IMG/bg-10.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
}
.tracklist img,
.cover img {
    max-width: 100%; 
    height: auto; 
}
.discografia-links a img {
    max-width: 100px;
}
#galeria {
    background-color: #555;
    background-size: cover;
    background-position: center;
}

#contacto {
    background-image: url("IMG/bg-4.jpg");
    background-size: cover;
    background-position: center;
}


.galeria {
	width: 95%;
	margin: auto;
	overflow: hidden;
}

.galeria ul {
	display: flex;
	padding: 0;
	width: 400%;
	
	animation: cambio 10s infinite alternate linear;
}

.galeria li {
	width: 100%;
	list-style: none;
}

.galeria img {
	width: 100%;
}

@keyframes cambio {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

/* Estilos del formulario de contacto */
.contact-form {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

/* Estilos del pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.social-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.social-links li {
    display: inline;
    margin-right: 10px;
}

.social-links a img {
    max-width: 30px;
}
footer p {
    margin: 0;
}
/* Estilos responsive para tablet */
@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .menu {
        margin-top: 20px;
        text-align: center;
    }

    .menu li {
        display: block;
        margin: 10px 0;
    }

    .contact-form {
        max-width: 100%;
        padding: 20px;
    }
}

/* Estilos responsive para celular */

@media screen and (max-width: 768px) {
    /* Estilos responsive para celular .mobile-menu {
        display: flex;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        right: 0;
        background-color: #333;
        border: 1px solid #fff;
        border-radius: 5px;
        padding: 10px;
        z-index: 1;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
    }

    .menu-toggle.active .bar:nth-child(1) {
        transform: rotate(-45deg) translate(-5px, 6px);
    }

    .menu-toggle.active .bar:nth-child(2) {
        opacity: 0;
    }

    .menu-toggle.active .bar:nth-child(3) {
        transform: rotate(45deg) translate(-5px, -6px);
    }
    */
    .section {
        padding: 30px;
    }

    .section h2 {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .form-group input,
    .form-group textarea {
        font-size: 14px;
    }

    button {
        padding: 8px 16px;
        font-size: 16px;
    }

    .social-links li {
        margin-right: 5px;
    }

    .social-links a img {
        max-width: 20px;
    }
}
#preloader{
    background: #fff url(gif\ de\ carga.gif) no-repeat center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}
